<% provide(:title, @dog.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>


  <%= image_tag @dog.avatar.detail.url %>
  <strong>Name:</strong>
  <%= @dog.name %><br>
  <strong>Breed:</strong>
  <%= @dog.breed.try(:name) %><br>
  <strong>Size:</strong>
  <%= @dog.size %><br>
  <strong>Gender:</strong>
  <%= @dog.gender %><br>
  <strong>Age:</strong>
  <%= @dog.age %><br>
  <strong>Favorite toy:</strong>
  <%= @dog.toy %><br>
  <strong>Owner:</strong>
  <%= @dog.user.username %>
    </section>
  </aside>
</div>
<td>
  <%= link_to 'Contact Owner', user_contact_request_path(@dog), method: :post %></td> |
<% if can? :update, @dog %>
  <%= link_to 'Edit', edit_dog_path %> |
<% end %>
<%= link_to "Back", search_index_path %>
