<% provide(:title, @dog.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>


  <%= image_tag @dog.avatar.detail.url %>
  <strong>Name:</strong>
  <%= @dog.name %><br>
  <strong>Breed:</strong>
  <%= @dog.breed.try(:name) %><br>
  <strong>Size:</strong>
  <%= @dog.size %><br>
  <strong>Gender:</strong>
  <%= @dog.gender %><br>
  <strong>Age:</strong>
  <%= @dog.age %><br>
  <strong>Favorite toy:</strong>
  <%= @dog.toy %>
    </section>
  </aside>
</div>
<%= link_to 'Edit', edit_dog_path %> |
<%= link_to "Back", dogs_path %> |
<%= link_to "New Dog", new_dog_path %>
