<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span5">
    <section>
      <h1>
        <%= gravatar_for @user %>
          Username:
        <%= @user.username %><br>
          <strong>Name:</strong>
        <%= @user.first_name %>
        <%= @user.last_name %><br>
          <strong>Email:</strong>
        <%= @user.email %><br>
        <strong>Number of Dogs:</strong>
        <%= @user.dogs.count %><br>
      </h1>
    </section>
  </aside>
</div>

