<footer class="footer">

  <divclass='login'>
  <%if current_user%>
  <%=current_user.email%>
  <%=link_to "Logout", destroy_user_session_path, method: :delete %>
    <%else%>
      <%=link_to "SignIn", new_user_session_path%>
      <%=link_to "Register", new_user_registration_path%>
      or
      <%=link_to "SigninwithGoogle",user_omniauth_authorize_path(:google_oauth2)%>
  <%end%>

</div>
<pclass="notice"><%=notice%></p>
<pclass="alert"><%=alert%></p>

  <small>
    Website Design
    by James Elliott
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>