<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">

      <%if current_user%>
  <%=current_user.email%>
  <%=link_to "Logout", destroy_user_session_path, method: :delete %>
    <%else%>
      <%=link_to "Sign In", new_user_session_path%> |
      <%=link_to "Register", new_user_registration_path%> |
      <%=link_to "Sign in with Google",user_omniauth_authorize_path(:google_oauth2)%>
  <%end%>

    <pclass="notice"><%=notice%></p>
    <pclass="alert"><%=alert%></p>




      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>